{% load static %}

<aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <!-- USUÁRIO LOGADO-->
                        {% if user.is_authenticated %}
                        <!---HOME--->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'index' %}" aria-expanded="false">
                                <i class="me-3 fa fa-columns" aria-hidden="true"></i>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li>



                        <!---USUARIO--->
                        <li class="sidebar-item" data-toggle="collapse"  data-target="#usuario" aria-expanded="false" aria-controls="usuario">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" >
                                 <i class="me-3 fa fa-user" aria-hidden="true"></i><span class="hide-menu">Usuário</span>
                            </a>
                        </li>
		                <div class="collapse" id="usuario" >
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="{% url 'profile' user.id %}" aria-expanded="false">
                                      <span class="hide-menu">Profile</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'completa_cadastro' %}" aria-expanded="false">
                                        <span class="hide-menu">Completar Cadastro</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        </div>

                        <!---PRODUTO--->
                        <li class="sidebar-item" data-toggle="collapse"  data-target="#produto" aria-expanded="false" aria-controls="produto">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                 <i class="me-3  fas fa-align-justify" aria-hidden="true"></i><span class="hide-menu">Produtos</span>
                            </a>
                        </li>
                        <div class="collapse" id="produto">
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'adicionar_produto' %}" aria-expanded="false">
                                    <span class="hide-menu">Adicionar Produtos</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'listar_produto' %}" aria-expanded="false">
                                    <span class="hide-menu">Listar Produtos</span>
                                </a>
                            </li>

                        </div>

                        <!---CLIENTE--->
                        <li class="sidebar-item" data-toggle="collapse"  data-target="#cliente" aria-expanded="false" aria-controls="cliente">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                 <i class="me-3  fas fa-address-card" aria-hidden="true"></i><span class="hide-menu">Clientes</span>
                            </a>
                        </li>
                        <div class="collapse" id="cliente">
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'adicionar_cliente' %}" aria-expanded="false">
                                    <span class="hide-menu">Adicionar Cliente</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'listar_cliente' %}" aria-expanded="false">
                                    <span class="hide-menu">Listar Cliente</span>
                                </a>
                            </li>

                        </div>













                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'account_logout' %}" aria-expanded="false">
                                <i class="me-3  fas fa-sign-out-alt" aria-hidden="true"></i><span
                                    class="hide-menu">Logout</span></a></li>








                        <!-- USUÁRIO NÃO LOGADO-->
                        {% else %}
                       <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'index' %}" aria-expanded="false"><i class="me-3 fa fa-columns"
                                    aria-hidden="true"></i><span class="hide-menu">Home</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'account_login' %}" aria-expanded="false"><i class="me-3 fa fa-columns"
                                    aria-hidden="true"></i><span class="hide-menu">Login</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'account_signup' %}" aria-expanded="false">
                                <i class="me-3 fa fa-user" aria-hidden="true"></i><span
                                    class="hide-menu">Cadastrar Usuário</span></a></li>
                        {% endif %}
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>