{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/__header.html' %}
{% include 'partials/__sidebar.html' %}

<div class="page-wrapper">
    <!--- Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Listar Produtos</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listar Produtos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% include 'partials/__buscar.html' %}
        <!--- Tabela -->
            <div class="row">
                <div  style="text-align: right;">
                    <a href="{% url 'adicionar_fornecedor' %}" class="btn btn-secondary btn-lg d-none d-md-inline-block text-white">
                        <span class="fas fa-plus" >Adicionar</span>
                    </a>
                </div>
                    <!-- column -->
                    <div class="col-sm-12">
                        <a href="{% url 'adicionar_produto' %}" class="btn btn-success mx-auto mx-md-0 text-white"><span class="fas fa-plus-circle">Adicionar Produto</span></a>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% if produtos %}
                                    <table class="table user-table no-wrap">
                                      <thead class="thead-light">
                                        <tr>
                                          <th class="border-top-0">#</th>
                                          <th class="border-top-0">Nome do Produto</th>
                                          <th class="border-top-0">Marca</th>
                                          <th class="border-top-0">Fornecedor</th>
                                          <th class="border-top-0">Quantidade</th>
                                          <th class="border-top-0">Disponibilidade</th>
                                          <th class="border-top-0"></th>
                                          <th class="border-top-0"></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for produto in produtos %}
                                        <tr>
                                          <th scope="row">{{produto.id}}</th>
                                          <td>{{produto.nome_produto}}</td>
                                          <td>{{produto.marca_produto}}</td>
                                          <td>{{produto.fornecedor}}</td>
                                          <td>{{produto.quantidade_produto}}</td>
                                          <td>{{produto.disponivel}}</td>

                                          <td><a href="{% url 'detalhar_produto' produto.id  %}" >Detalhar</a></td>
                                          <td><a href="{% url 'editar_produto' produto.id  %}" >Editar</a></td>
                                        </tr>
                                       {% endfor %}
                                    </tbody>
                                </table>
                                    {% else %}
                                    <p>Ainda não há Produtos cadastrados</p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



</div>


{% include 'partials/__footer.html' %}
{% endblock %}